body{
    margin: 0;
}
main{
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 10%);
    background-color: hsl(0, 0%, 98%);

    display: grid;
    grid-template-columns: 1fr 4fr;
}
main:last-child{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
main>div{
    height: 100%;
}
button{
    background-color: #596D48;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    width: 210px;
    height: 45px;
    border: none;
    box-shadow: 0 3px 2px lightgray;
    transition: all;
    transition-delay: 50ms;
}
button:active{
    transform:translateY(3px);
    box-shadow: none;
}
button:hover{
    opacity: 0.9;
}
img[src="./assets/backgroundPic.avif"]{
    width: 550px;
}
input, label{
    display: block;
}
input{
    border-radius: 5px;
    width: 250px;
    height: 30px;
    font-size: 1rem;
    border: solid 1px hsl(0, 0%, 30%);
    transition: all;
    transition-duration: 100ms;
}
input:focus{
    border-color: #2563d7;
    box-shadow: 0 5px 5px lightgray;
}
p{
    font-size: 1.8rem;
    font-weight: bold;
    width: 900px;
}
form{
    padding: 20px;
    width: 100%;
    background-color: white;
    box-shadow: 0 10px 10px hsl(0, 0%, 80%);
}
form>div{
    font-size: 0.8rem;
    font-weight: bold;
    color: hsl(0, 0%, 40%);
    display: grid;
    grid-template-columns: repeat(2, 400px);
}
form>div>div{
    margin-bottom: 10px;
}